<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Email</title>
</head>

<body>
  Hello
  <br> {{name}},
  <br>
  <br> Could you please broadcast this Tx on my behalf.
  <br> Thanking you, Fellow Crypto User
  <br>
  <a href="{{txhash}}" target="_blank">Tx Hash</a>
</body>
</html>